button.createNewBtn {
    margin-top: -4px;
    margin-left: 10px;
}

/* #close_create_extrasession_form {
    position: absolute;
    top: -50px;
    right: 35px;
    color: #dc3545;
    font-size: 27px;
    cursor: pointer;
} */

table.extrasession-sessions .plus-icon,
table.extrasession-sessions .cross-icon {
    display: none;
    width: 30px;
    cursor: pointer;
    margin-top: 3px;
}
table.extrasession-sessions tr:last-child .plus-icon,
table.extrasession-sessions tr:last-child .cross-icon {
    display: inline-block;
}
table.extrasession-sessions tr:nth-child(2) .cross-icon {
    display: none !important;
}

.probationerlist.no-scroll {
    height: auto;
    overflow-y: unset;
    overflow-x: unset;
}
#extrasessions #extrasession_prob_list thead,
#extrasessions #extrasession_addedprob_list thead {
    background: #b4bcdb;
}

table.cb-prob-list-table th,
table.cb-prob-list-table td {
    text-align: left !important;
}
table.cb-prob-list-table th:first-child,
table.cb-prob-list-table td:first-child {
    width: 60px;
}
table.cb-prob-list-table th:nth-child(2),
table.cb-prob-list-table td:nth-child(2) {
    width: 100px;
}
table.cb-prob-list-table th:nth-child(3),
table.cb-prob-list-table td:nth-child(3) {
    width: 100px;
}

#viewsessions table th {
    padding: 10px;
    /* width: 200px; */
}

#viewsessions table td {
    padding: 10px;
    /* width: 200px; */
}

#viewsessions .card .card-header {
    background-color: #e9eeff;
}

#viewsessions .card .card-body {
    padding: 15px 30px;
}

#viewsessions .card .card-body h5 {
    font-size: 18px;
    font-family: Roboto !important;
    font-weight: 700;
}

.sessionbg {
    background: #b4bcdb;
    color: #fff;
}

table.session-details-table td {
    padding: 5px;
    border: 1px solid #dee2e6;
}
table.session-details-table td:first-child {
    font-family: "Red Hat Text", sans-serif !important;
    font-weight: bold;
}
